{% extends 'index.html' %}
   {% load crispy_forms_tags %}
   
   
   
   {% block content %}

      {% if messages %}
        {% for message in messages %}

        <div class="alert alert-dark" role="alert">
            {{message}}
        </div>
          

        {% endfor %}
       {% endif %}
   
  
    
       <div class="container rounded border border-primary" style="margin-top:30px; margin-bottom: 30px; padding-bottom: 30px; ">
           <div class="card" style="width: 18rem; margin-top: 30px; ">
                <img src="{{ user.profile.image.url }}" class="card-img-top" alt="profilepic">
                <div class="card-body">
                  <h5 class="card-title"> Profile </h5>
                  <p class="card-text">Information</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><b>Username: </b> {{user.username}}</li>
                  <li class="list-group-item"><b>Full Name:</b> {{user.first_name}} {{user.last_name}}</li>
                  <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
                  {% if p_form.instance.user_type %}
                  <li class="list-group-item"><b>UserType: </b> {{user.profile.user_type}}</li>
                  {% endif %}

                  {% if p_form.instance.user_gender %}
                  <li class="list-group-item"><b>Gender:</b> {{user.profile.user_gender}}</li>
                  {% endif %}

                </ul>
              </div>
              <br>

              {% if 'Patient' in user.profile.user_type %}
              <bold>Welcome Patient {{user.username}}! Please Upload the image to be scanned here!</bold>
              <button type="submit"><a href="patient_upload/prescription/new/"> Upload image </a></button>
              {% endif %}

              {% if 'Doctor' in user.profile.user_type %}
              <bold>Welcome Doctor {{user.username}}! Please Upload the image to be scanned here! </bold>
              <button type="submit"><a href="doctor_upload/"> Upload Image </a></button>
              {% endif %}
              
              
              <br>
              <form method="POST" enctype="multipart/form-data" >
                <legend class="border-bottom mb-4">Profile Info</legend>
                  {% csrf_token %}
                  {{ u_form|crispy }}
                  {{ p_form|crispy }}
                  <button type="submit">Update</button>
              </form>
              

              
            </div>


  {% endblock content %}