*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../pto/1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 15px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.7s ease;
}

ul li a:hover{
    background-color: #fff;
    color: black;
    font: bold;
}

.logo img{
    float: left;
    width: 150px;
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
}

.active a{
    background-color: #fff;
    color: black;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: #fff;
    font-size: 70px;
}

.button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%)
}

.option{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    margin: 5px;
    text-decoration: none;
    transition: 0.6s
}

.option:hover{
    background-color: #fff;
    color: #000;
}

.submenu1, .submenu2{
    display: none;;
}

.login:hover .submenu1{
    margin: 0;
    display: block;
    position: absolute;
}

.login:hover .submenu1 ul{
    border: none;
    margin-left: 5px;
    margin-top: 10px;
    color: #000;
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.347);
}


.login:hover .submenu1 ul li{
    display: block;
    margin: 10px;
}

.signup:hover .submenu2{
    margin: 0;
    display: block;
    position: absolute;
}

.signup:hover .submenu2 ul{
    border: none;
    margin-left: 5px;
    margin-top: 10px;
    color: #000;
    position: absolute;
    display: block;
    background: rgba(255, 255, 255, 0.347);
}


.signup:hover .submenu2 ul li{
    display: block;
    margin: 10px;
}
